# AWS Settings
export AWS_SSH_USERNAME=""
export AWS_SSH_KEY_PATH=""
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_KEYPAIR_NAME=""
export AWS_SECURITY_GROUP=""
export HOST_NAME=""
export DOMAIN=""
export INSTANCE_TYPE=""
export AMI=""
export ELASTIC_IP=""
export NAME=""
export DESCRIPTION=""
export REGION=""
export PORT=""
export ZABBIX_HOST_NAME=""

